<div style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.text_color }}; margin-top: -{{ section.settings.position }}px;" class="xw-full xrelative xpy-52 xoverflow-x-hidden">
  <div class="xmax-w-[1100px] xmx-auto {% if text_border == true %}white-text-black-stroke{% endif %}">
    <div class="xpy-4">
      <span class="white-text-black-stroke xtext-5xl">{{ section.settings.title }}</span>
    </div>
    {% if section.settings.caption != blank %}
       <div class="xflex xitems-center xspace-x-4">
      <p>
      {{ section.settings.caption }} 
        <div>{% render 'icon-question-mark' %}</div>
      </p>
    </div>
    {% endif %}

    <div class="xpy-20">
      <div class="xflex xspace-x-6">
        <div class="xw-[280px] xh-[498px] shadow-border xoverflow-hidden xflex-shrink-0">
          <img src="https://images.pexels.com/photos/7335439/pexels-photo-7335439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="xw-full xh-full xobject-cover xobject-center hover:xscale-125 hover:xrotate-6 xtransition-transform xduration-1000 xease-in-out">
        </div>
        <div class="xw-[280px] xh-[498px] shadow-border xoverflow-hidden xflex-shrink-0">
          <img src="https://images.pexels.com/photos/7335439/pexels-photo-7335439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="xw-full xh-full xobject-cover xobject-center hover:xscale-125 hover:xrotate-6 xtransition-transform xduration-1000 xease-in-out">
        </div>
        <div class="xw-[280px] xh-[498px] shadow-border xoverflow-hidden xflex-shrink-0">
          <img src="https://images.pexels.com/photos/7335439/pexels-photo-7335439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="xw-full xh-full xobject-cover xobject-center hover:xscale-125 hover:xrotate-6 xtransition-transform xduration-1000 xease-in-out">
        </div>
        <div class="xw-[280px] xh-[498px] shadow-border xoverflow-hidden xflex-shrink-0">
          <img src="https://images.pexels.com/photos/7335439/pexels-photo-7335439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="xw-full xh-full xobject-cover xobject-center hover:xscale-125 hover:xrotate-6 xtransition-transform xduration-1000 xease-in-out">
        </div>
        <div class="xw-[280px] xh-[498px] shadow-border xoverflow-hidden xflex-shrink-0">
          <img src="https://images.pexels.com/photos/7335439/pexels-photo-7335439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="xw-full xh-full xobject-cover xobject-center hover:xscale-125 hover:xrotate-6 xtransition-transform xduration-1000 xease-in-out">
        </div>
      </div>
    </div>
   
    <!-- button -->
    <div class="xflex xitems-center xjustify-between">
      <button type="button" class="button">
        {{ section.settings.button_label }}
      </button>
    </div>
  </div>

  <!-- scallops top -->
    {% render 'border-scallop-top' %}
    <!-- scallops bottom -->
    {% render 'border-scallop-bottom' %}
</div>

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Card Appearance"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#31AF46"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "scallop_border_top",
      "label": "Scalloped Border Top",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "scallop_border_bottom",
      "label": "Scalloped Border Bottom",
      "default": true
    },
    {
      "type": "range",
      "id": "position",
      "label": "Card Position",
      "min": 0,
      "max": 300,
      "step": 5,
      "default": 0
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Social Lookbook"
    },
    {
      "type": "checkbox",
      "id": "text_border",
      "label": "Title text stroke",
      "default": true
    },
    {
      "type": "text",
      "id": "caption",
      "label": "More Information Comment",
      "default": "Get Featured"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Load more"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
